@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --dark-base: #041C32;
    --primary-color: #042332;
    --secundary-color: #787A91;

    --text-light-color: #EEEEEE;
}
.resource-video-item {
    @apply flex flex-col w-full px-4 py-4 my-4 border-2 border-green-800 hover:scale-105 transition-transform duration-150 text-white rounded-lg transition-all duration-150 hover:shadow-sm
}
/* Btn */

.btn {
    @apply md:px-6 px-8 md:py-2 py-2 transition-all duration-500
}

.btn.btn-primary {
    @apply text-white font-bold rounded bg-green-800 hover:bg-green-900
}

.btn.btn-danger {
    @apply text-white font-bold rounded bg-red-500 hover:bg-black
}



/* Navbar */

.navbar {
    @apply border-gray-200 px-2 sm:px-4 py-4 rounded z-10
}
.navbar {
    background-color: var(--primary-color);
}
.bg-dark-base {
    background-color: var(--dark-base);
}
.text-color-base {
    color: var(--text-light-color);
}
.bg-primary {
    background-color: var(--primary-color);
}
.category-side-item {
    @apply rounded-lg shadow px-4 py-4 mr-2 my-1 inline-block transition-all
        duration-500 text-white w-full flex justify-between
}
.navbar-item {
    @apply text-white flex items-center justify-between text-base px-4 py-1.5 rounded-md
}


.navbar-item i{
    @apply mr-2 text-lg font-bold
}


.navbar-item:hover {
    background-color: var(--primary-color);
}

.navbar-item.active {
    @apply block py-2 pr-4 pl-3 text-white md:p-0 dark:text-white
}

.navbar-item.active {
    cursor: none;
    color: var(--primary-color)
}

.navbar-fixed-width {
    margin-left: auto;
    margin-right: auto;
  
    @media all and (min-width: @screen-sm-min) {
      width: @screen-sm-min;
    }
  
    @media all and (min-width: @screen-md-min) {
      width: @screen-md-min;
    }
  
    @media all and (min-width: @screen-lg-min) {
      width: @screen-lg-min;
    }
  }

  /* Video */
  .video-catetory-link {
    @apply text-gray-500 mt-4 text-sm inline-block border border-transparent transition-all duration-500 rounded-lg px-4 py-2 shadow hover:bg-slate-200
  }

  /* .video-catetory-link {
      padding: 0.12rem;
  } */
  .video-catetory-link:hover {
      border-bottom-color: var(--primary-color);
  }


  .video-responsive {
      width: 100%;
  }

@media (min-width: 640px) { 
    .video-responsive {
        height: 360px;
    }
 }
@media (min-width: 768px) { 
    .video-responsive {
        height: 520px;
    }
}/* 
@media (min-width: 1024px) { 
    .video-responsive {
        height: 640px;
    }
}
@media (min-width: 1280px) { 
    .video-responsive {
        height: 520px
    }
} */


.font-title {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--dark-base);
    color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
}